body {
    background-color: #0e0e0e;
    /* margin: 15px; */
}


.menu-box {
    width: 12px;
    height: 11px;
    border-radius: 6px;
    background-color: #0d0d0f;
    border: 1px solid #555;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    padding: 8px;
    cursor: pointer;
}

.menu-box span {
    height: 2px;
    width: 100%;
    background-color: #cfcfcf;
    border-radius: 2px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 14px;
    border-radius: 6px;
    border-bottom: 1px solid rgb(77, 77, 89);


}

.git-img img {
    margin-left: 14px;
    width: 30px;
    display: flex;
    align-items: center;
    /* color: #cfcfcf; */
}

.button-top {
    margin-left: auto;


}

.nav-das {
    color: #f0ebeb;
    display: flex;
    text-align: center;
    margin-left: 25px;
    font-size: 16px;
    font-weight: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

.Copilot-bar {
    display: flex;
    align-items: center;
    background-color: #1e1e1e;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 4px;

}

.Copilot-img img {
    height: 15px;
    margin-right: 2px;
    border-right: 1px solid #555;
    /*right side lining */
    padding-right: 4px;
}


.form-select {
    /* appearance: none; */
    background-color: #1e1e1e;
    color: white;
    font-size: 14px;
    width: 14px;
    border: none;
}



.inside-div {
    display: flex;
    align-items: center;
    background-color: #1e1e1e;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 3px;
    gap: 10px;
}

.puls-img img {
    height: 8px;
    width: 18px;
    height: auto;
    margin-right: 3px;
    border-right: 1px solid #555;
    /*right side lining */

}

.form-select1 {
    font-size: 14px;
    background-color: #1e1e1e;
    color: white;
    font-size: 14px;
    margin-right: 2px;
    width: 14px;
    border: none;

}

.dot-cricle img {
    width: 28px;
    height: 25px;
    display: flex;
    align-items: center;
    background-color: #1e1e1e;
    border: 1px solid #555;
    border-radius: 4px;
    /* padding: 3px; */
}

.pull-img img {
    width: 25px;
    height: 20px;
    display: flex;
    align-items: center;
    background-color: #1e1e1e;
    border: 1px solid #555;
    border-radius: 4px;

}

.repost-img img {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #555;
    background-color: #1e1e1e;
    border-radius: 4px;

}

.unread-massage img {
    width: 25px;
    height: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #555;
    background-color: #1e1e1e;
    border-radius: 4px;
}

.Default img {
    width: 35px;
    height: 30px;
    display: flex;
    align-items: center;
    border: 1px solid #555;
    background-color: #1e1e1e;
    border-radius: 50%;
    object-fit: cover;
}



.main-div {
 
    width: 319.2px;
    height: 1040px;

    background-color: #0d1117;
    border-right: 1px solid #30363d;
    color: white;

    padding: 16px 16px 0px;
    /* border-radius: 6px; */
    outline: none;
}

.inside-downside {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 1px;
    margin: 4px 4px;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid #3d444db3; */
    background-color: #0d1117;
    width: 287px;
    height: 28px;
}

.h2 {
    display: flex;
    font-size: 14px;
    align-items: center;
}

.new-repo button {
    background-color: #238636;
    display: flex;
    align-items: center;
    gap: 6px;
    width: 62.62px;
    border-radius: 6px;
    border: none;
    color: white;
    cursor: pointer;
    height: 28px;

}

.new-repo img {
    width: 20px;
    height: 20px;

}

.search-input {

    background-color: #0d1117;
    border: 1px solid #30363d;
    color: white;

    padding: 6px 10px;
    border-radius: 6px;
    outline: none;
}

.search-input {
    width: 287px;
    height: 3vh;
    padding: 5px 12px;
    display: flex;
    font-size: 14px;
    align-items: center;
    color: #f0f6fc;
    background-color: #151b23;

}

.home {
    color: #f0f6fc;
}

.in-div {
    display: flex;

    max-width: 1184.8px;
    height: 983.4px;
    color: #f0f6fc;
}

.home {
    padding: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 608.8px;
    height: 36px;
    margin: 0px 0px 16px;
}

.chat-box{
    
    width: 90px;
    max-width: 900PX;
    /* height: 105px; */
    border: 1px solid #2b2f36;
    border-radius: 18px;
    padding: 16PX;
    color:#c9d1d9 ;
}

.left,.plus{
    /* margin-bottom: 20px; */
    padding: 20px;
    display: flex;
    align-items: end;
}
.right,.model-select{
   margin-left:100px
}

